* {
    margin: 0;
    padding: 0;
  }

  body {
    background: rgb(255, 214, 214);
    background:url(../IMG/ven_pro.jpg);
    -webkit-background-size:cover ;
    background-size:cover ;
    background-attachment: fixed;

  }

  .titulo{
    font-size: 40px;
    font-weight: normal;
    font-family: 'Ranchers', cursive;
    color: palevioletred;
    text-align: center;
    padding:35px 0;
    align-items: center;
}
header{
    width: 99%;
    margin: 8px auto;
    max-width: 1300px    
  }

   
  header nav {
    background: rgb(184, 182, 182);
    overflow: hidden;
  
  }

  header nav ul {
    list-style: none;
      }

  header nav ul li {
    float: left;

  }

  header nav ul li a {
    padding: 10px 20px;
    display: block;
    color: rgb(255, 230, 234);
    text-decoration: none;
    font-family: cursive;
  }
  
section div img {
      width: 120px;
      padding: 10px 55px;
  }

  section div {
      width: 250px;
      background:   rgb(207, 206, 206);
      display: inline-block;
      margin: 10px 42px;
  }

.contenedor .titulo1{
    font-size: 18px;
    font-weight: normal;
    font-family: cursive;
    color:  palevioletred;
    text-align: center;
    padding:0px 0px;
    align-items: center;
}

